@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  @apply p-0 m-0;
  font-family: 'Kumbh Sans';
}

/*Navbar Section*/
.menu-icon{
  @apply hidden;
}

.navbar-container{
  @apply flex mx-[12rem] py-[1rem];
}

.logo{
  @apply mr-[2rem] cursor-pointer;
}

li{
  @apply px-[1rem] cursor-pointer duration-300;
  color: hsl(219, 9%, 45%);
}

.active{
  @apply underline underline-offset-[1.5rem] font-bold decoration-[5px];
  text-decoration-color: hsl(26, 100%, 55%);
  color: hsl(220, 13%, 13%);
}

.navbar-items{
  @apply flex;
}

.info{
  @apply flex ml-auto items-center;
}

.cart{
  @apply w-[16px] h-[16px] cursor-pointer relative;
}

.avatar{
  @apply w-[32px] h-[32px] ml-[2.5rem] cursor-pointer;
}

hr{
  @apply mx-[12rem] border-[1px];
}

.navbar-cart-count{
  @apply absolute ml-[10px] mb-[20px] text-[8px] py-[0.5px] px-[5px] rounded-[5px] font-bold;
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
}

/*Navbar Section End*/

/*Hero section*/
.hero-container{
  @apply grid mx-[10rem] gap-[0rem] grid-cols-2;
}

.hero-content{
  @apply mt-[5rem] w-[20rem] ml-[3rem];
}

.hero-subheading{
  @apply text-3xl pt-[0.6rem] pb-[2rem] font-bold;

}

.hero-image-carousel{
  @apply mt-[2rem] ml-[5rem] w-[25rem];
}

.hero-heading{
  @apply font-bold text-[12px];
  color: hsl(26, 100%, 55%);
}

.description{
  @apply text-[11px] font-bold;
  color:hsl(219, 9%, 45%);
}

.price{
  @apply font-bold text-[1.1rem] pt-[1rem] flex items-center; 
}

.percent{
  @apply text-[0.7rem] py-[1px] px-[5px] ml-[10px] rounded-[3px];
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
}

.former-price{
  @apply font-bold text-[12px] line-through decoration-[1px] underline-offset-[-2px];
  color:  hsl(220, 14%, 75%); 
}

.counter-btn{
  @apply flex items-center justify-center my-[1.5rem] mx-[0] py-[10px] px-[20px] rounded-[5px];
  background-color:  hsl(223, 64%, 98%);
}

.counter-item{
  @apply mx-auto flex items-center justify-center;
}

.counter{
  @apply py-0 px-[1.5rem] font-bold;
}

.cart-btn{
  @apply flex items-center py-[14px] px-[50px] rounded-[5px] ml-[10px];
  background-color:hsl(26, 100%, 55%);
}

.cart-btn:hover{
   box-shadow: 1px 7px 5px hsl(25, 100%, 94%);
}

.buttons{
  @apply flex items-center;
}

.btn-cart-img{
  @apply w-[12px];
}

.btn-text{
  @apply text-[10px] ml-[0.7rem] font-bold;
  color: hsl(0, 0%, 100%);
}

/*Hero Section End*/

/*Modal Section*/
.modal{
  @apply mt-[3rem] mr-[10rem];
}
.empty-modal-container{
  @apply w-[22rem] h-[7rem];
}
.filled-modal{
  @apply flex; 
}

.modal-content{
  @apply ml-auto;
}

.modal-heading-text, .modal-price-calc{
  @apply text-[18px];
  color: hsl(219, 9%, 45%);
}

.modal-price-result{
  @apply text-[#000];
}

.delete{
  @apply cursor-pointer;
}

.checkout{
  @apply block;
}

/*Modal Section End*/

/*Carousel Section*/
.image-gallery-slides img {
  @apply w-[100%] h-[60vh] rounded-[16px];
}

.image-gallery-thumbnail{
  @apply w-[75px] mt-[15px] mr-[12px] border-0;
}

.img-container{
  @apply relative;
}

.overlay{
  @apply absolute h-[100%] w-[100%] rounded-[12px] left-0 top-0;
  background-color: rgba(255, 255, 255, 0);
}
.image-gallery-thumbnail.active .overlay,
.image-gallery-thumbnail:hover .overlay{
  background-color: rgba(255, 255, 255, 0.5);
}
 .image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover {
  border-radius: 12px;
  border: 2px solid hsl(26, 100%, 55%);
} 

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg{
  @apply hidden;
}

@media screen and (max-width: 768px){

  /*Navbar Media Query Section*/
  .navbar-items{
    @apply hidden;
  }

  .logo{
    @apply ml-[30px];
  }

  .navbar-container{
    @apply flex items-baseline mx-[2rem] py-[1.5rem];
    transition: transform 0.3s ease;
  }

  .navbar-cart-count{
    @apply ml-[15px] mb-[35px] text-[12px] py-[0.5px] px-[5px] rounded-[5px] font-bold;
    background-color: hsl(26, 100%, 55%);
    color: hsl(0, 0%, 100%);
  }

  .avatar{
    @apply w-[40px] h-[40px] ml-[1.5rem] relative;
  }

  .menu{
    @apply bg-[#fff] h-[100%] fixed top-0 left-0 w-[60%];
    z-index: 1000; 
  }

  .menu-open{
    @apply ml-[0.3rem] mt-[0.2rem];
  }

  .menu-icon{
    @apply block;
  }

  .menu-container {
    @apply fixed top-[44px] left-[30px] ;
    z-index: 1000; 
  }

  .mobile-nav-items{
    @apply mt-[3.5rem] mr-[6.5rem];
  }

  .mobile-nav-list{
    @apply p-[0rem] mb-[1.5rem] text-[1.3rem] text-[#000] font-bold;
  }

  /*Hero Section*/
  .hero-container{
    @apply grid mx-[0rem] grid-cols-1 w-[100%];
  }

  .hero-image-carousel{
    @apply m-[0px] w-[100%];
  }

  .buttons{
    @apply block items-center w-[100%];
  }

  .counter-btn{
    @apply justify-center w-[92%] h-[70px];
  }

  .cart-btn{
    @apply text-center w-[90%] h-[70px] flex items-center justify-center m-[0];
  }

  .hero-content{
    @apply mx-[1.5rem] mt-[1rem] w-[95%];
  }

  .minus, .plus{
    @apply w-[1.5rem];
  }

  .counter{
    @apply text-[1.5rem] mx-[90px];
  }

  .hero-heading{
    @apply text-[17px];
  }

  .hero-subheading{
    @apply text-[35px] pb-[15px];
  }

  .description{
    @apply text-[17px] pr-[8px];
  }

  .price{
    @apply text-[2rem];
  }

  .former-price{
    @apply text-[1.5rem] pr-[8px];
  }

  .percent{
    @apply text-[1.5rem];
  }

  .btn-text{
    @apply text-[1.5rem];
  }

  .price-info{
    @apply flex items-baseline justify-between mr-[1rem];
  }

  .btn-cart-img {
    @apply w-[1.5rem] ml-[0px];
  }

  .cart{
    @apply w-[30px] h-[30px];
  }

  /*Carousel Section*/
  .image-gallery-slides img {
    @apply rounded-none w-[100%] h-[32vh];
  }

  .image-gallery-thumbnails-container{
    @apply hidden;
  }

  .image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg{
    @apply block h-[45px] w-[45px] bg-[#fff] text-[#000] rounded-[100%] p-[10px];
    stroke-width: 3.5px;
  }

  .image-gallery-fullscreen-button{
    @apply hidden;
  }

  /*Modal Section*/

  .modal{
    @apply mx-[0.3rem] mt-[5rem];
  }

  .filled-modal{
    @apply flex px-[0px] mx-[1rem]; 
  }

  .modal-empty{
    color: hsl(219, 9%, 45%);
  }

  .modal-content{
    @apply mx-[0.3rem];
  }
}
